<h1>Update a Song</h1>
<form action="/songs/<%=@song.slug%>" method="post"><input type="hidden" name="_method" id="hidden" value="patch">
  <label>Name</label>
  <br></br>
  <input type="text" name="song_name" id="Name" value="<%=@song.name%>">
  <br></br>
    <label>Artist Name:</label>
      <input  type="text" name="artist_name" id="Artist Name"
        value ="<%=@song.artist.name%>"
      </input>
    <br></br>
  <% Genre.all.each do |genre| %>
  <input type="checkbox" input id="<%= genre.name %>" name="genres[]" value=<%=genre.id%> <%='checked' if @song.genres.include?(genre) %>>

<% end %>
  <br></br>


  <input type="submit" value="Save">
</form>